cache:
  yarn: true
  directories:
    - node_modules
language: node_js
branches:
  only:
  - master
  - dev
before_install:
  - npm install -g --no-progress npm@latest yarn
install:
  - yarn install --no-progress
script:
  - yarn test --coverage

after_success:
  - yarn prepublish
